[user]
	signingkey = D6008E86383C2CC3
[core]
	excludesfile = ~/.gitignore
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
