[user]
    signingkey = 39CDD2B7CBC54331
    name = Ricardo Reis
[core]
	excludesfile = ~/.gitignore
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[commit]
    gpgsign = true